.custom-text-primary {
    color: #D72638;
}

.custom-bg-primary {
    background-color: #D72638;
}

.custom-text-secondary {
    color: #3f88c5;
}

.custom-bg-secondary {
    background-color: #3f88c5;
}

.custom-text-tertiary {
    color: #F49D37;
}

.custom-bg-tertiary {
    background-color: #F49D37;
}

.custom-text-quaternary {
    color: #140F2D;
}

.custom-bg-quaternary {
    background-color: #140F2D;
}

.custom-text-quinquary {
    color: #F22B29;
}

.custom-bg-quinquary {
    background-color: #F22B29;
}

.custom-text-white {
    color: #FFFFFF;
}

.custom-bg-white {
    background-color: #FFFFFF;
}

.custom-text-black {
    color: #000000;
}

.custom-bg-black {
    background-color: #000000;
}

.custom-link-primary {
    color: #e41126;
}

.custom-link-primary {
    color: #0a7cd9;
}

.custom-link-tertiary {
    color: #f38c17;
}

.custom-link-quaternary {
    color: #04030a;
}

.custom-link-quinquary {
    color: #f51612;
}

:root{
    --color-primary: #D72638;
    --color-secondary: #3f88c5;
    --color-tertiary: #F49D37;
    --color-quaternary: #140F2D;
    --color-quinquary: #F22B29;
    --color-white: #FFFFFF;
    --color-black: #000000;
}