.spazioSuperiore{
    margin-top: 100px;
}

.testoNome{
    margin-top: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--color-tertiary);
    display: inline;
}

.icona{
    display: inline;
    width: 30px;
    margin: auto;
    position: relative;
    bottom: 5px;
}

@media (max-width: 356px) 
{
    .icona{
        display: none;
    }
}

.pulsante{
    background: var(--color-quinquary);
    box-shadow: 0px 2px 4px var(--color-black);
    border-radius: 10px;
    padding: 20px 100px;
    border: none;
}

.pulsante:hover{
    background-color: var(--color-primary);
}

.spazioBottone{
    margin-top: 100px;
}

.fontBottone{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    display: block;
    margin: auto;
    color: var(--color-white);
}

.spazioSuperiore2{
    margin-top: 50px;
}

.testoPosizione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 100%;
    position: relative;
    color: var(--color-black);
    display: inline;
    top: 10px;
}

.IconaPosizione{
    width: 30px;
}

.spazioFotoH1{
    margin-bottom: 50px;
}

h1{
    margin-top: 40px !important;
    font-family: 'Rubik' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    text-align: center !important;
    display: inline !important;
}

.testo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-black);
    display: inline;
}

.prezzo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 14px;
    color: var(--color-black);
}

.testoCaratteristiche{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    color: var(--color-quinquary);
}

.contenutoCaratteristiche{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    display: inline;
}

@media (max-width: 466px) 
{
    .contenutoCaratteristicheMail{
        font-size: 14px;
    }
}

.form-select{
    display: inline !important;
}

.selettoreTaglia{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    color: var(--color-black);
    margin-left: 10px;
}

.testoValutazione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.spazioSuperiore3{
    margin-top: 25px;
}

.center{
    position: relative;
    top: 6px;
    left: 20px;
}

.titoloRecensione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-secondary);
}
