.spazioSuperiore{
    margin-top: 100px;
}

.testoNome{
    margin-top: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--color-tertiary);
    display: inline;
}

.icona{
    display: inline;
    width: 30px;
    margin: auto;
    position: relative;
    bottom: 5px;
}

@media (max-width: 356px) 
{
    .icona{
        display: none;
    }
}

.pulsante{
    background: var(--color-quinquary);
    box-shadow: 0px 2px 4px var(--color-black);
    border-radius: 10px;
    padding: 20px 100px;
    border: none;
}

.pulsante:hover{
    background-color: var(--color-primary);
}

.spazioBottone{
    margin-top: 100px;
}

.fontBottone{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    display: block;
    margin: auto;
    color: var(--color-white);
}

.spazioSuperiore2{
    margin-top: 50px;
}

.testoPosizione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 100%;
    position: relative;
    color: var(--color-black);
    display: inline;
    top: 10px;
}

.IconaPosizione{
    width: 30px;
}

.spazioFotoH1{
    margin-bottom: 50px;
}

h1{
    margin-top: 40px !important;
    font-family: 'Rubik' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    text-align: center !important;
    display: inline !important;
}

.testo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-black);
    display: inline;
}

.prezzo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 14px;
    color: var(--color-black);
}

.testoCaratteristiche{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    color: var(--color-quinquary);
}

.contenutoCaratteristiche{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    display: inline;
}

@media (max-width: 466px) 
{
    .contenutoCaratteristicheMail{
        font-size: 14px;
    }
}

.form-select{
    display: inline !important;
}

.selettoreTaglia{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    color: var(--color-black);
    margin-left: 10px;
}

.testoValutazione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.spazioSuperiore3{
    margin-top: 25px;
}

.center{
    position: relative;
    top: 6px;
    left: 20px;
}

.titoloRecensione{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-secondary);
}

.margin-correction{
    margin-left: 5vh;
    background-color: #D6D6D6;
}

.slider {
    border: 2px solid black;
    width: 300px;
    height: 500px;
    background-color: #140f2d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 2500px;
    background-color: #140f2d;
    height: 500px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -300px;
}

#slide-3:target ~ .image-container {
    left: -600px;
}

#slide-4:target ~ .image-container {
    left: -900px;
}

#slide-5:target ~ .image-container {
    left: 0px;
}

#slide-6:target ~ .image-container {
    left: -300px;
}

#slide-7:target ~ .image-container {
    left: -600px;
}

#slide-8:target ~ .image-container {
    left: -900px;
}

.buttons {
    position: relative;
    top: -20px;
}
  
.buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #140f2d;
    opacity: 20%;
}

.buttons a:hover{
    opacity: 100%;
}


